.btn-delete {
    float: right;
}

.cluster-details-btn {
    margin-top: 5px;
}

.host {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.pf-c-table tr > * {
    max-width: fit-content !important;
}

.host > * span.pf-c-clipboard-copy__text {
    max-width: 22.5em;
}


td[data-label = "Host"] {
    display: inline-block;
}

.quickcluster-reboot-btn {
    color: var(--pf-global--danger-color--100) !important;
    padding-left: 0px !important;
    bottom: 5px;
}

div.pf-c-clipboard-copy.pf-m-inline {
    background-color: transparent;
    display: inline-flex;
    max-width: 25em;
}

span.pf-c-clipboard-copy__text {
    padding-top: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ql-card-layout article{
    height: 100%;
}

.expired-text {
    color: #C9190B;
}

.cluster-details-charts-card-body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.rhub-chart {
    min-width: 80%; 
}

@media screen and (max-width: 768px) {
    .host > * span.pf-c-clipboard-copy__text {
        max-width: 10em;
    }
}

@media screen and (max-width: 1200px) {
    .host > * span.pf-c-clipboard-copy__text {
        max-width: 20em;
    }
}