.btn-delete {
    float: right;
}

.cluster-details-btn {
    margin-top: 5px;
}

div.pf-c-clipboard-copy.pf-m-inline {
    background-color: transparent;
    display: flex;
    max-width: 25em;
}

span.pf-c-clipboard-copy__text {
    padding-top: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ql-card-layout article{
    height: 100%;
}

.expired-text {
    color: #C9190B;
}

.cluster-details-charts-card-body {
    margin-left: auto;
    margin-right: auto;
}

.rhub-chart {
    min-width: 80%; 
}
