.step-header {
    padding-bottom: 10px;
}

.advanced-step-warning {
    margin-top: -5px;
    margin-bottom: 10px;
}

.summary-charts-container {
    padding-top: 20px;
}

.wizard-charts-card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.resource-summary-container {
    padding-left: 20px;
}

.resource-summary-table {
    width: 250px;
    flex-grow: 3;
}

.chart {
    flex-grow: 2;
}

.configuration-step-border {
    padding-bottom: 25px;
    border-bottom: 2px solid #8A8D90;
}

.prod-img {
    height: 50px;
}
